.total-holdings {
    width: fit-content;
    margin: auto;
    text-align: center;
    padding-bottom: 6px !important;
    padding-top: 10px !important;
    margin-bottom: 8px;
}

.holdings-segment {
    width: 80%;
    margin: auto;
}

.total-title {
    width: fit-content;
    font-size: 22px;
}