#login-page, #signup-page, #support-page, #landing-page {
  .login-logo {
    min-height: 200px;
    text-align: center;
  }
  
  .login-logo img {
    // max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }
}

.center-align {
  text-align: center;
}

.logo {
  max-height: 300px;
  max-width: 300px;
}
