.article-slide-card {
    margin: 0px !important;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .slide-article-img {
        width: 100%;
        height: 44%;
    }

    .article-slide-source {
        margin-bottom: 0px !important;
    }

    .slide-card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .slide-article-link {
            display: flex;
            align-items: flex-end;
            width: 100%;
            margin-top: auto;
        }
    }
}

    