.ticker-item-chart {
    margin: 0px !important;
}


.priceChange {
    display: flex;
    font-size: 14px;
    width: fit-content;
    margin-right: 0px !important;
    margin-left: auto;

    .positive {
        color: #009e74;
    }
    .negative {
        color: #d94040;
    }
}

.ticker-item-chart {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;

    .holdings-list-amount {
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0px;
    }
}

.full-screen-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.tickers {
    --padding-top: 0px;
}