.ticker-item-chart {
    margin: 0px !important;
}

.desktop-ticker-list {
    width: 60%;
    margin: auto;
}

.priceChange {
    display: flex;
    font-size: 14px;
    width: fit-content;
    margin-right: 0px !important;
    margin-left: auto;

    .positive {
        color: #009e74;
    }
    .negative {
        color: #d94040;
    }
}

.ticker-item-chart {

    [type=line] {
        max-width: 150px;
        margin: auto;
    }
}

.ticker-item-price {
    max-width: 28%;
    margin-right: 0px !important;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    overflow: visible !important;

    .holdings-list-amount {
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0px;

        .price {
            // font-size: 18px;
        }
    }
}

.full-screen-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.tickers {
    --padding-top: 0px;

    .last-updated-time {
        padding-top: 8px 
    }
}

.ticker-item-chart-title {
    text-align: center;
}

.ticker-list-label {
    overflow: visible !important;
    overflow-wrap: normal;
    white-space: normal !important;
    max-width: 21%;
}

.headers {

}